<!-- app/views/pages/about.html.erb -->
<h1 class="text-2xl font-bold mb-4">About</h1>

<p class="mb-4">Details about the data sources and the project:</p>
<ul class="mb-4">
  <li class="list-disc ml-4">Clinics data from CSV and Faker</li>
  <li class="list-disc ml-4">Services data from Faker</li>
  <li class="list-disc ml-4">Diseases data from Faker</li>
</ul>

<img src="/assets/ERD.jpg" alt="ERD Diagram" class="max-w-full h-auto">
