<!-- app/views/pages/about.html.erb -->
<h1>About</h1>
<p>Details about the data sources and the project:</p>
<ul>
  <li>Clinics data from CSV and Faker</li>
  <li>Services data from Faker</li>
  <li>Diseases data from Faker</li>
</ul>
<img src=""C:\Users\User\OneDrive\Desktop\TERM 3 FULL STACK\AGILE\Project\ERD.jpg"" alt="ERD Diagram">
